name: CI
on:
  push:
    branches:
      - master
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: github-pages #<---The only difference we need to specify what environment to use for environment secrets
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build
      run: |
        npm install
        npm run-script build
      env:
        REACT_APP_VOICERSS_KEY: ${{ secrets.REACT_APP_VOICERSS_KEY }}
        REACT_APP_RAPID_API_KEY: ${{ secrets.REACT_APP_RAPID_API_KEY}}
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.0.0
      with:
  
        BRANCH: gh-pages
        FOLDER: build
